In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_zone.csv', low_memory=False)

In [3]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://ibrahim:sayem@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
#to generate a schema in order to put data into database in pandas a module named 'io' is used
print(pd.io.sql.get_schema(df, name='taxi_zone'))

CREATE TABLE "taxi_zone" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [8]:
df_iter = pd.read_csv('taxi_zone.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
#will insert the header
df.head(0).to_sql(name='taxi_zone', con = engine, if_exists = 'replace')

0

In [11]:
%time df.to_sql(name='taxi_zone', con = engine, if_exists = 'append')

Wall time: 61 ms

265

In [12]:
from time import time

In [13]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con = engine, if_exists = 'append')
    t_end = time()
    
    print('inserted into chunk...., took %.3f second' % (t_end - t_start))

StopIteration: